.ui-grid{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 300px;
    background-image: url('../../assets/images/unnamed.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    box-shadow: black 3px 3px 4px;
}

.content {
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), bisque;
    color: maroon;
    font-size: medium;
}

#question-placeholder {
    margin: auto;
    text-align: center;
    text-shadow: 2px 2px black;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)), url('../../assets/images/questions-background.jpg');
    background-position: center;
    background-size: cover;
    border: 1px solid antiquewhite;
    width:75%;
    opacity: 0.6;
    margin-bottom: 14px;
}

.exit-button{
    float: right;
    background: transparent;
    border: white solid thin;
    width: 18%;
    color: antiquewhite;
    background-color: rgba(128, 0, 0, 0.5);
}

.exit-button:hover {
    opacity: 0.7;
}

.main-text {
    opacity: 1;
    font-weight: bolder;
    color:antiquewhite;
}

.ui-button{ 
    margin-bottom: 16px;
    margin-right: 16px;
    float: left;  
    background-color: rgba(255, 228, 196, 0.4);
    color: white;
    border-radius: 8px;
    width: 45%;
    height: 40px;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    transform: translateX(50%);
    box-shadow: black 2px 2px 3px;
}

.header {
    font-weight: bolder;
    color: bisque;
    padding-left: 5%;
}

.ui-button:hover {
    opacity: 0.7;
}

.answer-container {
    margin:auto;
    width: 90%;
    transform: translateX(-20%)
}

.lives {
    margin-left: 14px;
    color: bisque;
    font-size: medium;
    font-weight: bold;
    text-shadow: maroon 1px 1px 2px;
}

.header {
    color: black
}