<div class="ui-grid">
    <div class="four wide column">
      <div class="ui card">
        <div class="content">
          <a class="header">{{regionName}}</a>
          <button class="exit-button" type="" (click)="close()">Izlaz</button>
        </div>
      </div>
    </div>
    <div class="twelve wide column">
        
        <div class="lives">
          Preostalo pokusaja: {{triesRemaining}} <br>
          Tacnih odgovora do otkljucavanja: {{answersRemaining}}
        </div>
        <div id="question-placeholder">
            <h3 class="main-text">
                {{question.text}}
            </h3>
        </div>
        <div class="answer-container">
        <div *ngFor = "let answer of displayAnswers">
            <button type="button" (click) = "checkAnswer(answer)" [id] = "answer" class="ui-button">
                {{answer}}
            </button>
          </div>
        </div>
    </div>
  </div>
