<div class="ui-grid">
    <div class="four wide column">
      <div class="ui card">
        <div class="content">
          <button class="exit-button" type="" (click)="close()">Izlaz</button>
          <a class="header">{{regionNamePravo}}</a>
        </div>
      </div>
    </div>
    <div class="twelve wide column">


      <form class="ui-form" [formGroup] = "checkForm" class = "card-body" (ngSubmit) = "sendComment(checkForm.value)">
      <button class="ui-button" type="submit">Dodajte komentar</button>
      <input type="text" name="commentInput" formControlName="commentInput" class="comment-input">
      </form>
      <div id="display">
        <table>
          <thead id="display-header">
            <tr>
              <th>Korisnik</th>
              <th>Komentar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let comment of comments">
              <td>{{comment.username}}</td>
              <td>{{comment.comment}}</td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
