<div class="ui-grid">
    <div class="four wide column">
      <div class="ui card">
        <div class="content">
          <a class="header"></a>
        </div>
      </div>
    </div>
    <div class="twelve wide column">
      <button class="ui button" type="" (click)="close()">Exit</button>
      <p>
          Cestitamo! Oblast {{regionName}} je otkljucana!
      </p>
      <button type="button" (click) = "showFunFacts()"> Prikazi Zanimljivosti </button>
      <button type="button" (click) = "showComments()"> Prikazi Komentare </button>
    </div>
  </div>
