<div class="ui-grid">
    <div class="four wide column">
      <div class="ui card">
        <div class="content">
          <button class="exit-button" type="" (click)="close()">Izlaz</button>
          <a class="header"></a>
        </div>
      </div>
    </div>
    <div class="twelve wide column">
     
      <h3 class="congrats-text">
          Cestitamo! Oblast {{regionName}} je otkljucana!
      </h3>
      <div class="button-container">
      <button type="button" (click) = "showFunFacts()" class="ui-button"> Prikazi Zanimljivosti </button>
      <button type="button" (click) = "showComments()" class="ui-button"> Prikazi Komentare </button>
      </div>
    </div>
  </div>
