form {
    width: 700px;
    height: 700px;
    border-color: whitesmoke;
    border-style: outset;
    border-radius: 20px;
    border-width: 3px;
    box-shadow: 2px 5px black;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-top: -100px;
    margin-left: -300px;
    text-align: center;
    font-family:  "Goudy Old Style", sans-serif; 
}

mat-card-title {
    font-size: 50px;
}
mat-form-field {
    font-size: 20px;
    text-align: center;
    border-width: 3px;
    border-color: black;
}
mat-card-actions {
    
    text-align: center;
    top: 30%;
}
.input { 
    border-color: black;
    border-width: 3px;
}
