.text_cta {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.grid_main{
    width: 100px;
    height: 100px;
}
.body{
    background-color: transparent;
}

.province:hover {
  filter: sepia();
}


.text_cta::selection{
  background: none;
}
