<mat-card class="example-card">

    <form [formGroup]="checkForm" class="card-body" (ngSubmit)="submitLogin(checkForm.value)">
        <mat-card-title> Logovanje </mat-card-title>
        <br>
        <p>
            <mat-form-field class='create-input' appearance="legacy">
                <mat-label class="username"> Korisničko ime </mat-label>
                <input matInput type="text" name="username" formControlName="username">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field class='create-input' appearance="legacy">
                <mat-label class="password"> Šifra </mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" name="password" formControlName="password">
                <mat-icon matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                {{hide ? 'visibility_off' : 'visibility'}}</mat-icon>

            </mat-form-field>
        </p>
        <p>
            <mat-card-actions>
                <button class="enter" mat-raised-button [disabled]="!checkForm.valid"> Uloguj se
                </button>
                <button mat-stroked-button [routerLink]="['/signin']"> Registruj se </button>
            </mat-card-actions>
        </p>
    </form>

</mat-card>
